.track-card {
  display: flex;
  flex-direction: column;
  justify-content:left;
  background-color: rgb(52, 0, 84);
  font-size: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-weight: 800;
  color: white;
max-width: 600px; /* Width of each card */
  border-radius: 8px;
  box-shadow: 0 2px 8px    rgb(163, 100, 202);
  padding: 8px;
  margin: 16px; 
  transition: transform 0.2s, box-shadow 0.2s;
}

.track-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.2);
  opacity: .5;
  cursor: pointer;
}

.track-card h2 {
  font-size: 1.5rem;
  padding-bottom: 4px;
  margin: 8px 0;
  color: white;
  text-align: left;
}

.track-card p {
  color: rgb(163, 100, 202);
  margin: 2px 0;
  text-align: left;
  font-size: 15px;
}
