.header {
    background-color: rgb(52, 0, 84);
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 80px;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
    font-weight: 800;
    color: white;
  }

  .highlight{
    color: rgb(163, 100, 202);
  }